body{
    background-color: black;
    color: white;
}
.container{
    margin-top: 9%;
}
.row{
    --bs-bg-opacity: 0 !important;
}
.col-9 {
    border: 3px solid white;
    border-radius: 5%;
    padding: 4%;
}